<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="./index_files/assets/js/vue.js"></script>
  <script src="./index_files/assets/js/vuex.js"></script>
  <script src="./index_files/assets/js/d3.js"></script>
  <script src="./index_files/store/store.js"></script>
  <script src="./index_files/components/helpBox.js"></script>
  <script src="./index_files/components/presentationSlide.js"></script>
  <script src="./index_files/components/infoComputer.js"></script>
  <script src="./index_files/components/infoMobile.js"></script>
  <script src="./index_files/components/nameTag.js"></script>
  <link rel='stylesheet' href="./index_files/assets/css/style.css" >
</head>
<body style="margin: 0; padding: 0">
<div id="app" style="position: absolute; width: 100%; height: 100%; overflow: scroll; ">
  <div v-if="!isMobile()">
    <name-tag></name-tag>
    <template v-for="info in infoBoxes">
      <info-computer v-bind:color='info.color'
                     v-bind:text='info.text'
                     v-bind:x='info.x'
                     v-bind:xside='info.xSide'
                     v-bind:y='info.y'
                     v-bind:yside='info.ySide'
                     v-bind:presentationindex='info.presentation'
                     v-bind:slides='info.slides'></info-computer>
    </template>
  </div>
  <div v-if="isMobile()">
    <div style="position: absolute; width: 90%; left: 5%; top: 5%; text-align: center">
      <p style="font-size: 5vmin; margin: 0">Hi, My name is</p>
      <p style="font-size: 10vmin; margin: 0">Benjamin Ortiz Ulloa</p>
      <table style="margin: 0; width: 100%">
        <template v-for="info in infoBoxes">
          <tr>
            <info-mobile v-bind:color='info.color'
                         v-bind:text="info.text"
                         v-bind:presentationindex="info.presentation"
                         v-bind:slides="info.slides"></info-mobile>
          </tr>
        </template>
      </table>
    </div>
  </div>
  <help-box></help-box>
</div>
</body>
<script>

//2190-2193 8592-8595
var control = new Vue({
  el: '#app',
  methods: {
    isMobile(){
      if(window.innerWidth <= 800 && window.innerHeight <= 600) {
        return true;
      } else {
        return false;
      }
    }
  },
  data: {
    infoBoxes: [
      {
        presentation: 0,
        color: '#760089',
        x: 50,
        xSide: 'left',
        y: 9,
        ySide: 'top',
        text: "and I am a data engineer.",
        slides: [
          `
          <p style='font-size: 4vmin;'>I spend <b>a lot</b> of time with</p>
          <a href="https://www.r-project.org/" target="_blank">
          <img src="./index_files/assets/img/R.png" alt="The R statistical programming language" width="150vmin"/>
          </a>
          `,
          `
          <p style='font-size: 4vmin;'>and that's awesome, because <b>R</b> makes cleaning and visualizing data super easy</p>
          `,
          `
          <p style='font-size: 4vmin;'>I gave a workshop on <a href="https://2018.erum.io/#talk-abstracts" target="_blank">graph data structures</a> at</p>
          <a href="https://2018.erum.io/#talk-abstracts" target="_blank">
          <img src="./index_files/assets/img/erum2018.png" alt="eRum 2018" width="125vmin"/>
          </a>
          `,
          `
          <p style='font-size: 4vmin;'>And gave a <a href="https://www.youtube.com/watch?v=-wJ0WnKqbvk" target="_blank">short talk about graphs</a> at</p>
          <a href="https://www.youtube.com/watch?v=-wJ0WnKqbvk" target="_blank"><img src="./index_files/assets/img/user2018.png" alt="useR 2018" width="150vmin"/></a>
          `,
          `
          <p style='font-size: 4vmin;'>Sometimes I have to work with</p>
          <a href="https://www.python.org/" target="_blank">
            <img src="./index_files/assets/img/python.png" alt="The Python programming language" width="150vmin"/>
          </a>
          `
          ,
          `
          <p style='font-size: 4vmin;'>I even gave a <a href="https://github.com/benjaminortizulloa/dc-pydata-2018" target="_blank">talk about graphs</a> at</p>
          <a href="https://pydata.org/dc2018/schedule/presentation/53/" target='_blank'>
            <img src="./index_files/assets/img/pydata.png" alt="PyData Conference" width="150vmin"/>
          </a>
          `,
          `
          <p style='font-size: 4vmin;'>Python is cool...</p>
          `,
          `
          <p style='font-size: 4vmin;'>but <a href="https://news.ycombinator.com/item?id=14056098" target="_blank">flame wars</a> are fun...</p>
          `,
          `
          <p style='font-size: 4vmin;'>so...</p>
          `,
          `
          <p style='font-size: 10vmin;'>&#128077; R!</p>
          `,
          `
          <p style='font-size: 10vmin;'>&#128078; Python!</p>
          `
        ]
      },
      {
        presentation: 1,
        color: '#0044ff',
        x: 9,
        xSide: 'left',
        y: 50,
        ySide: 'top',
        text: "and I <em><b>really</b></em> like complex systems.",
        slides: [
          `
          <p style="font-size: 4vmin">I try to learn as much as I can about Networks and Agent Based Models</p>
          `,
          `
          <p style="font-size: 4vmin">I've attended:</p>
          <a href="http://yrcss.cssociety.org/warm-up-2018/" target="_blank">
          <img src="./index_files/assets/img/YRNCS.png" alt="Conference on Complex Systems Warm-Up 2018 (Thessaloniki)" width='90vmin'/>
          </a>
          <p style="font-size: 3vmin">The <a href="http://yrcss.cssociety.org/warm-up-2018/" target="_blank">yrCSS warm up</a> for <a href='http://ccs2018.web.auth.gr/' target="_blank">CCS 2018</a></p>
          `,
          `
          <p style="font-size: 4vmin">I will collaborate at:</p>
          <a href="http://wwcs2019.org/" target="_blank">
          <img src="./index_files/assets/img/wwcs2019.png" alt="Winter Workshop on Complex Systems 2019 (Warsaw)" width="150vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin">I spoke at:</p>
          <a href="http://ccs2018.web.auth.gr/creating-exploring-and-visualizing-networks-r" target="_blank">
          <img src="./index_files/assets/img/ccs2018.jpg" alt="Conference on Complex Systems 2018 (Thessaloniki)"  height= "125vmin" />
          </a>
          `,
          `
          <p style="font-size: 4vmin">And also spoke at:</p>
          <a href="http://iuni.iu.edu/nasn2018/cam/#/event/249">
          <img src="./index_files/assets/img/INSNA.jpg" alt="International Network for Social Network Analysis (DC)" width="150vmin"/>
          </a>
          <p style="font-size: 3vmin"><a href="http://iuni.iu.edu/nasn2018/cam/#/event/249">NASN 2018</a></p>
          `
        ]
      },
      {
        presentation: 2,
        color: '#5bcefa',
        x: 50,
        xSide: 'left',
        y: 91,
        ySide: 'top',
        text: "and I <span style='color: red; font-size: 5vmin'><b>&#x2665;</b></span> data viz.",
        slides: [
          `
          <p style="font-size: 4vmin">The topic I am most passionate about</p>
          `,
          `
          <p style="font-size: 4vmin">and the career path I chose is</p>
          `,
          `
          <p style="font-size: 10vmin">Data Viz</p>
          `,
          `
          <p style="font-size: 4vmin">And while visualizing data in R is beautiful and easy</p>
          `,
          `
          <p style="font-size: 4vmin">I try to make all my interactives with</p>
          <a href="https://d3js.org/" target="_blank">
            <img src="./index_files/assets/img/d3.png" alt="D3.js" width="100vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin"><a href="https://github.com/benjaminortizulloa/benjaminortizulloa.github.io/blob/master/index_files/components/helpBox.js" target="_blank">The help box functionality actually uses <b>D3</b>'s selection capabilities</a></p>
          `,
          `
          <p style="font-size: 4vmin">and if I need to add depth to the interactive or create a webpage</p>
          `,
          `
          <p style="font-size: 4vmin">then the framework I use is</p>
          <a href="https://vuejs.org/" target="_blank">
            <img src="./index_files/assets/img/vue.png" alt="Vue.js" width="100vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin"><a href="https://github.com/benjaminortizulloa/benjaminortizulloa.github.io/blob/master/index.html" target="_blank">the page you are looking at right now actually uses Vue.</a></p>
          `
        ]
      },
      {
        presentation: 3,
        color: '#f5a9b8',
        x: 91,
        xSide: 'left',
        y: 50,
        ySide: 'top',
        text: "and I am involved in my community.",
        slides: [
          `
          <p style="font-size: 4vmin">Everything I've learned so far is thanks to the <b>R</b> and <b>D3</b> communities.</p>
          `,
          `
          <p style="font-size: 4vmin">And so I'm doing what I can to give back to those communities.</p>
          `,
          `
          <p style="font-size: 4vmin">I'm an organizer for</p>
          <a href="https://www.meetup.com/Data-Visualization-DC/" target="_blank">
            <img src="./index_files/assets/img/datavizdc.png" alt="Data Visualization DC" height="125vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin">I'm an organizer for</p>
          <a href="https://dc2018.satrdays.org/" target="_blank">
            <img src="./index_files/assets/img/satrdays.jpg" alt="satRday DC" width="125vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin">I'm an agent for</p>
          <a href="http://www.datacommunitydc.org/" target="_blank">
            <img src="./index_files/assets/img/dc2.png" alt="Data Community DC" width="150vmin"/>
          </a>
          `,
          `
          <p style="font-size: 4vmin">and a founder of</p>
          <a href="https://twitter.com/R_LGBTQ" target="_blank">
            <img src="./index_files/assets/img/rainbowr.png" alt="RainbowR" width="125vmin"/>
          </a>
          `
        ]
      }
    ]
  }
})
</script>
</html>
